# Ignore everything
*

# Except the .gitignore file itself

# Include the public folder and its contents
!public/database/
!public/**/*

# Include the storage/app/public/database/profile folder and its contents
!/storage/app/public/database/profile/
!/storage/app/public/database/profile/**/*

!.gitignore